.filter-container {
  background-color: #fff;
  border-radius: 2px;
  border-top: thin solid #fff;
  border-bottom: thin solid #fff;
}

.filter-container-content {
  background-color: #fff;
  height: 100%;
}

.filter-container > div > * {
  background-color: #fff;
}

.filter-container-content > * { 
  padding: 8px 14px;
}