button {
  align-items: center;
  background: #F8F9FC;
  border: 1px solid #D8E1EB;
  box-sizing: border-box;
  color: #18486B;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 6px;
  height: 32px;
  padding: 0px 8px 0px 8px;
  border-radius: 2px;
  white-space: nowrap;
}

button:hover {
  cursor: pointer;
}

button:focus  {
  outline: none;
}

button.navigation {
  background: #F8F9FC;
  border-color: #D8E1EB;
  color: #18486B;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.16px;
}

button.navigation:hover {
background-color: #FFFFFF;
}

button.navigation:focus {
  border: 1px solid #18486B;
}

button.navigation.active {
  background-color: #F8F9FC;
  border: 1px solid #008FC7;
  color: #008FC7;
}

button.text {
  border: none;
  background-color: transparent;
  text-transform: capitalize;
}

button.primary {
  border: 1px solid #FFD261;
  background-color: #FFD261;
}

button.primary:hover {
  background-color: #FFC431;
}

button.primary:focus {
  background-color: #fff;
  border: 2px solid #FFC431;
  outline: none;
}

button.secondary {
  border: 1px solid #18486b;
  background-color: #18486b;
  color: #fff;
  font-size: 14px;
}

button.secondary:hover {
  background-color: #18486b;
}

button.secondary:focus {
  outline: none;
}

button.hollow {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
}

button.hollow:hover {
  border: 1px solid #FFE091;
}

button.hollow:focus {
  border: 2px solid #FFE091;
  outline: none;
}

/* Shape */
button.circle {
  background-color: #FFFFFF;
  border-radius: 50%;
  box-sizing: border-box;
  font-size: 12px;
  height: 26px;
  width: 26px;
  padding: 0;
}
