
a {
  background-color: inherit;
  color: #486F90; /* gray-7 */
  border: none;
  font-size: 12px;
  text-decoration: none;
  white-space: pre;
}

a .link-icon{
  font-size: 9px;
}

a:hover {
  border: none;
  text-decoration: underline;
}

a.underlined {
  text-decoration: none;
  border-bottom: 1px #486F90 dotted; /* gray-7 */
}

a.underlined:hover {
  text-decoration: none;
  border-bottom: 1px #486F90 solid; /* gray-7 */
}

