#root {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#content {
  flex: 1;
  overflow: scroll;
  display: flex;
    flex-direction: column;
}