.aggregations-search-icon {
  padding-right: 1rem;
  padding-top: 1rem;
}

.aggregations-search-id {
  font-weight: bold;
  white-space: pre-wrap;
}

.aggregations-search-donor {
  font-size: 14px;
}

.aggregations-search-container {
  overflow: hidden;
}