#RepositoryPage {
  background-color: #f0f3f8;
  flex-grow: 1;
  overflow: hidden;
}

#RepositoryPage .tabs-icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

#RepositoryPage .content-results {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}

#RepositoryPage .content-tabs {
  overflow: hidden;
}