:root {
    --primary-color: #003457;
    --secondary-color: #18486B;
}

html, body {
    overflow-x: hidden;
}

.home-main {
    font-family: IBM Plex Sans;
    font-style: normal;
    letter-spacing: 0.16px;  
}

.contentWrapper {
    max-width: 1566px;
    margin: 0 auto;
}

section.hero {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 65% 35%;
    grid-gap: 72px;
    padding: 80px 204px 286px;
    align-items: center;
    position: relative;
    z-index: 0;
}

section.hero:before {
    content: "";
    position: absolute;
    z-index: -1; /* behind parent */
    top: 0;
    bottom: 0;
    background: url(/img/pills_bg.svg) no-repeat, linear-gradient(268deg,#28aae2,#006095 98%);
    background-position: 50%;
    width: 200%;
    left: -50%;
}

section.hero .description {
    color: #fff;
}

section.hero .description h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    margin: 0;
}

section.hero .description h1 {
    font-weight: 600;
    font-size: 38px;
    line-height: 46px;
    margin: 0 0 16px 0;
}

section.hero .description p {
    font-size: 20px;
    line-height: 28px;
    margin: 0 0 16px 0;
}

section.hero .buttons {
    display: flex;
}

section.hero .buttons > *  {
    margin-right: 12px;
}

section.hero .data {
    max-width: 400px;
}

section.hero .data .header {
    font-family: IBM Plex Sans;
    font-style: normal;
    letter-spacing: 0.16px;  
}

section.hero .data .header h2 {
    color: var(--primary-color);
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    margin: 0 0 8px 0;
}

section.hero .data .header span {
    font-family: IBM Plex Mono;
    color: var(--secondary-color);
    font-size: 12px;
    line-height: 20px;
}

section.graphs {
    display: grid;
    grid-auto-flow: column;
    margin-bottom: 80px;
    justify-content: space-evenly;
    margin-top: -170px;
}

section.graphs h3, .bottom-links-cards h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--primary-color);
    margin: 0;
}

.bottom-links-text h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin: 0 0 8px 0;
    color: var(--secondary-color);
}

.bottom-links-text {
    text-align: center;
    max-width: 862px;
    margin: 0 auto 40px;
}

.bottom-links-text p {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    color: var(--secondary-color);
}

section.bottom-links {
    margin-bottom: 80px;
}

section.bottom-links .bottom-links-cards {
    display: grid;
    grid-template-columns: repeat(3, 260px);
    gap: 48px;
    justify-content: center;
}

section.bottom-links .bottom-links-cards a {
    display: inline-grid;
    white-space: normal;
    text-decoration: none;
}

section.bottom-links .bottom-links-cards .card-container p {
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    color: #486F90;
    text-align: center;
}

section.bottom-links .bottom-links-cards .notch-content {
    padding: 8px 24px;
}

/* FOOTER */

.nav-footer {
    background: #f8f8fb;
    border-top: 1px solid #dcdde1;
    padding: 0px;
    color: 'black';
    width: 100%;
}
  
.footerWrapper {
    display: flex;
    justify-content: space-between;
    padding: 24px;
}
  
.footerTextWrapper {
    display: flex;
    flex-direction: column;
}
  
.footerMoreInfo{
    margin: auto 0 0 0;
    color: #486f90;
    font-size:14px;
	font-family:IBM Plex Sans;
	font-weight:normal;
	line-height:20px;
}

.footerMoreInfo a {
    font-size: 14px;
}
  
.footerTitle {
    font-size:16px;
	font-family:IBM Plex Sans;
	font-weight:600;
	line-height:24px;
    color: #486f90;
    margin: 0;
}

.footerLogos {
    display: flex;
}

.footerLogos a {
    margin: 0 20px;
}
