.cart-page {
    padding: 16px;
    flex-grow: 1;
    overflow: hidden;
}

.cart-statistics .cards-statistics:not(:last-child) {
    margin-bottom: 10px;
}

.cart-page .cart-statistics .summary-statistics {
    flex: 1;
    flex-shrink: 0;
    margin: 0 48px;
}

.cart-actions{
    justify-content: flex-end;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.how-to-download{
    max-height: 20rem;
    overflow: auto;
    max-width: 30rem;
    margin-left: 2rem;
}

#cart-details button.test-download-cart:disabled{
    opacity: 0.2;
    cursor: not-allowed;
}

#cart-details div.test-table-actions .separator{
    display:none;
    visibility: hidden;
}