.fui-filters-types-mc-footer {
  color: #008FC7; /* blue-7 */
  text-decoration: underline;
  padding: 0;
  text-align: left;
  height: auto;
}

.fui-filters-types-mc-footer:hover, .fui-filters-actions .fui-filters-links:hover {
  color: #0075A2;
  text-decoration: none;
}

.fui-mc-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 9px;
  flex: auto 0;
}

.fui-mc-item:last-child {
  margin-bottom: 0px;
}

.fui-mc-item .fui-mv-item-checkbox {
  align-items: center;    
  overflow: hidden;
  text-overflow: ellipsis;
  overflow: hidden;
}

.fui-filters-actions .separator {
  height: 11px;
  align-self: center;
  background: #90A9C1;
  margin: 0 5px;
}
.fui-filters-actions {
  margin-bottom: 13px;
}

.fui-filters-actions .fui-filters-links {
  color: #008FC7; /* blue-7 */
  text-decoration: underline;
  text-transform: capitalize;
}

.fui-no-filters .no-results-text {
  background: #F0F3F8;
  color: #18486B;
  font-size: 14px;
  line-height: 22px;
  padding: 8px 16px;
}