.bar:hover {
  fill: rgb(131,0,30);
}

.pointer {
  cursor: pointer;
}

.svgDownload {
  display: none !important;
}

.exported-svg-class .svgDownload {
  display: block !important;
}

.exported-svg-class .displayOnly {
  display: none !important;
}

.repo-charts {
  background-color: #fff;
  margin-top: 1rem;
  border: 1px solid rgb(200, 200, 200);
}

.column-center {
  justify-content: center;
  align-items: center;
}

.wrapped-row {
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.row-center {
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}