.bar:hover {
  fill: rgb(131,0,30);
}

.pointer {
  cursor: pointer;
}

.svgDownload {
  display: none !important;
}

.exported-svg-class .svgDownload {
  display: block !important;
}

.exported-svg-class .displayOnly {
  display: none !important;
}

.repo-charts {
  background-color: #fff;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid rgb(200, 200, 200);
}

.column-center {
  justify-content: center;
  align-items: center;
}

.wrapped-row {
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.row-center {
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  color: #18486B;
}
.show-toggle {
  display: flex;
  align-items: center;
  border-radius: 2px;
}
.show-more {
  text-transform: capitalize;
  font-size: 14px;
  line-height: 22px;
  margin-right: 5px;
}

.show-more-sign {
  width: 14px;
  height: 14px;
}