.files-table {
  padding: 24px;
}

.files-table .files-actions {
  justify-content: space-between;
  padding: 0 8px 24px;
}

.files-table-locks {
  width: 18px;
  height: 18px;
}

.files-table-lock {
  color: #C54B38;
}

.files-table-lock-open {
  color: #7CB305;
}

.files-table .table-container {
  overflow: auto;
  height: 500px;
}

.files-table .table-container .table-th {
  position: sticky;
  top: 0;
}