.files-table {
  padding: 24px;
  background: #fff;
  border: 1px solid #D8E1EB;
}

.files-table a {
  text-decoration: underline;
}

.files-table .files-actions {
  justify-content: space-between;
  padding: 0 8px 24px;
}

.files-table-locks {
  width: 18px;
  height: 18px;
}

.files-table-lock {
  color: #C54B38;
}

.files-table-lock-open {
  color: #7CB305;
}