.files-table {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-grow: 1;
}

.files-table a {
  text-decoration: underline;
}

.files-table .files-actions {
  justify-content: space-between;
  padding: 0 8px 24px;
}

.files-table-locks {
  width: 18px;
  height: 18px;
}

.files-table-lock {
  color: #C54B38;
}

.files-table-lock-open {
  color: #7CB305;
}

.files-table-cart-btn{
  height: auto;
  color: #18486B;
  margin: 0;
  padding: 3px;
}

.files-table-cart-btn.active {
  background-color: #008FC7;
  color: #fff;
}