.global-tooltip {
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9999;
}

.global-tooltip>.wrapper {
  position: relative;
  bottom: 12px;
  left: -50%;
  padding: 6px 10px;
  color: #003457;
  background: #FFC431;
  font-size: 14px;
  border-radius: 2px;
  transform: translate(0, -100%);
}

.global-tooltip>.wrapper>.point1 {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -6px;
  width: 0; height: 0;
  border-top: 6px solid #FFC431;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}
