#header {
  align-items: center;
  background-color: white;
  border-bottom: 1px solid #e7e7e7;

  display: inline-grid;
  grid-template-columns: [logo] auto [nav] 2fr [actions] auto;
  grid-gap: 42px;
  justify-content: center;
  justify-items: center;

  margin: 0;
  min-height: 72px;

  padding: 0px;
  transition: height 1s ease;
  width: 100%;
  z-index: 100;
}

#header .logo {
  height: 40px;
  grid-column: 1 / 2;
  justify-self: flex-start;
}

#header >:first-child {
  margin-left: 30px;
  margin-right: 30px;
}

#header >:last-child {
  margin-right: 30px;
}

#header .nav, .actions {
  align-items: center;
  display: flex;
  justify-self: flex-start;
}

#header .actions {
  gap: 10px;
  justify-self: flex-end;
}

#header .nav > * {
  margin-right: 12px;
}

.separator { 
  width: 1px;
  background: #FFB600;
  margin-left: 5px;
  margin-right: 5px;
  height: 24px;
}

@media (max-width: 640px) {
  #header {
    grid-template-columns: 1fr;
    grid-template-rows: 72px auto auto;
    grid-gap: 22px;
    padding-bottom: 32px;
    transition: height 1s ease;
  }

  #header .actions > *:not(:last-child) {
    margin-bottom: 12px;
  }

  #header .nav > *:not(:last-child) {
    margin-bottom: 12px;
  }

  #header .nav,.actions {
    flex-direction: column;
    align-items: flex-start;
    grid-column: 1;
    grid-row: 2;
  }

  .actions {
    grid-row: 3;
  }
}

@media (min-width: 640px) and (max-width: 860px) {
  #header {
    grid-template-columns: 146px 1fr;
    grid-template-rows: 72px 1fr;
    padding-bottom: 32px;
    transition: height 1s ease;
  }

  #header .actions {
    flex-direction: column;
    align-items: flex-start;
    grid-row: 2;
  }
}

@media (max-width: 860px) {
  .separator {
    height: 1px;
    margin-left: 0px;
    width: 100%;
  }
}

#header .big {
  font-size: 14px;
  line-height: 22px;
}

#header .cart{
  width: 1em;
  height: 1em;
  vertical-align: middle;
  margin-bottom: 2px;
}