.filter {
  background: #FFD261;
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  padding: 0 6px;
  margin: 4px;
}

.filter .filter-type {
  color: #453700;
  font-weight: 600;
  margin-right: 6px;
}

.filter .filter-separator{
  color: #453700;
  font-size: 18px;
  opacity: .5;
}

.filter .aggregated-container{
  margin: 2px 6px;
}

.filter .inner-close-icon {
  fill: #453700;
  opacity: .5;
}