
.gray-1 { 
  color: #FFFFFF
}

.gray-2 { 
  color: #F8F9FC
}

.gray-3 { 
  color: #F0F3F8
}

.gray-4 { 
  color: #D8E1EB
}

.gray-5 { 
  color: #B5C6D8
}

.gray-6 { 
  color: #90A9C1
}

.gray-7 { 
  color: #486F90
}

.gray-8 { 
  color: #18486B
}

.gray-9 { 
  color: #003457
}

.gray-10 { 
  color: #00253D
}