/* ibm-plex-sans-regular - latin */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
      url('./fonts/ibm-plex-sans-v8-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('./fonts/ibm-plex-sans-v8-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibm-plex-sans-600 - latin */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: bold;
  font-weight: 600;
  src: local(''),
      url('./fonts/ibm-plex-sans-v8-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('./fonts/ibm-plex-sans-v8-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}      
/* ibm-plex-mono-regular - latin */
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  src: local(''),
      url('./fonts/ibm-plex-mono-v6-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('./fonts/ibm-plex-mono-v6-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibm-plex-mono-600 - latin */
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: bold;
  font-weight: 600;
  src: local(''),
      url('./fonts/ibm-plex-mono-v6-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('./fonts/ibm-plex-mono-v6-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* IE */
#ie {
  display: none;
  height: 100%;
  width: 100%;
}
#ie p {
  display: table-cell;
  font-size: 1.3rem;
  text-align: center;
  vertical-align: middle;
}
@media all and (-ms-high-contrast:none) {
  #ie { display: block; } /* IE10 */ 
  *::-ms-backdrop, #ie { display: table; } /* IE11 */
}  
/********/


body { 
  font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen, Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

pre, code {
  font-family: 'IBM Plex Mono', Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
}

button, input {
  font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen, Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

/* ****************************
INPUT
** ************************** */
input[type="checkbox"] {
  color: #B5C6D8;
}

input[type="text"] {
  border: 1px solid #90A9C1;
  box-sizing: border-box;
  border-radius: 2px;
  color: #90A9C1;
  height: 32px;
}

input[type="text"]:focus{
  border-color:#31BDF2;
}

label {
  color: #18486B; /* gray-8 */
}

input[type="checkbox" i] {
  margin: 0;
  padding: 0;
}