.side-panel {
  background-color: #F0F3F8; /* gray-3 */
  border-right: thin solid #d8e1eb;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 12px 17px;
  transition: width 0.2s;
  width: 312px;
  z-index: 1;
}

.side-panel > :first-child {
  margin-bottom: 17px;
}


.side-panel-collapsed {
  width: auto;
  overflow: hidden;
}

.side-panel .side-panel-header {
  height: 24px;
  flex-grow: 0;
  display: flex;
  justify-content: start;
  align-items: center;
  transition: 2s;
}

.side-panel .side-panel-header > button {
  padding: 0;
}

.side-panel .fui-filters-container-header button {
  padding: 0;
}

.side-panel .fui-filters-container-header {
  flex-grow: 0;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: white;
  color: #003457; /* gray-9*/
  font-size: 14px;
  font-weight: 600;
  border-bottom: thin solid #D8E1EB; /* gray-4 */
  padding: 5px 14px;
}

.side-panel-content {
  font-size: 12px;
}

.side-panel-collapsed .side-panel-content {
  display: none;
}