.query-layout {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: 100%;
}
  
.query-layout-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 16px;
}

.case-aggregations > * {
  margin-bottom: 16px;
}

.file-aggregations > * {
  margin-bottom: 16px;
}
