.query-layout {
  display: flex;
  flex-direction: row;
}
  
.query-layout-content {
  flex: 1;
  padding: 16px;
}

.case-aggregations > * {
  margin-bottom: 16px;
}

.file-aggregations > * {
  margin-bottom: 16px;
}