.query-layout {
  display: flex;
  flex-direction: row;
}
  
.query-layout-content {
  flex: 1;
  padding: 16px;
}

.test-case-aggregations {
  border: 0;
  margin-top: 24px;
}

.test-case-aggregations > * {
  margin-top: 24px;
}

.test-facet {
  margin-bottom: 24px;
  border-radius: 1fr;
}

.test-facet-header {
  background-color: white;
  color: #003457; /* gray-9*/
  font-size: 14px;
  font-weight: 600;
  border-bottom: thin solid #D8E1EB; /* gray-4 */
  padding: 5px 14px;
}

.bucket-count { 
  background-color: #F0F3F8; /* gray-3 */
  border-radius: 2px;
  align-items: center;
  padding: 1px 4px;
  margin: 10px 0px 10px auto;
  color: #486F90;
}